<app-header titulo="Cards"></app-header>

<ion-content padding>

  <ion-card mode="ios" color="tertiary">
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon color="light" slot="primary" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="https://png.pngtree.com/thumb_back/fw800/back_pic/03/59/31/7657a429ac15ff7.jpg"></ion-img>
  </ion-card>

</ion-content>